@page
@model iportfolio.Pages.myadmin.AddSocialnetworkModel
@{
}
<div class="container">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>
                    Add SocialNetworks
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Facebook</label>
                <input class="form-control" asp-for="socialNetwork.Facebook">
                <span asp-validation-for="socialNetwork.Facebook" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Twitter</label>
                <input class="form-control" asp-for="socialNetwork.Twitter">
                <span asp-validation-for="socialNetwork.Twitter" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label class="form-label">LinkedIn</label>
                <input class="form-control" asp-for="socialNetwork.LinkedIn">
                <span asp-validation-for="socialNetwork.LinkedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label class="form-label">Skype</label>
                <input class="form-control" asp-for="socialNetwork.Skype">
                <span asp-validation-for="socialNetwork.Skype" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <input type="submit" value="Add SN" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
